<div id="about_section" >
    <h1 class="special_writting about">&nbsp;&nbsp;ABOUT SECTION</h1>
    <div id="div_bro" data-aos="zoom-out"><img id="border" src="../images/border.png" style="margin-top: 20px;"></div>
    

    <div class="container projects" data-aos="zoom-out" >
            <div class="box">
                
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img class="about_pic" src="../images/fest.png">
                         <h2 style="display: inline; color:white ; font-size: 40px; font-family: serif;">CULTURAL FESTIVALS</h2> 
                        <p style="color:white ;">In this page we would discuss about diffrent festivals all across India. As India is a diverse and secular country so their are various festivals of diffrent religins and culture celebrated with cheer and enthuism.
                        </p> 

            </div>
        
        
        <div class="box">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img class="about_pic" src="../images/food.png">
            <h2 style="display: inline; color: white; font-size: 36px; font-family: serif;">&nbsp;INDIAN FOOD</h2> 
            <p style="color:white ;">In this page we would be discussing about various foods from all over the country. Diffrent cultures, traditions, states shares diffrent type of food culture...</p>


        </div>
            <div class="box">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img class="about_pic" src="../images/music.png">
                <h2 style="display: inline; color: white; font-size: 36px; font-family: serif;">&nbsp;CULTURAL MUSIC AND DANCE</h2> 
                        <p style="color:white ;">In this page we would be discussing about the rich heritage of music and dance we have in our country. Dance like Bharat Natyam, Kathakali, Kathak, Manipuri, Kuchipudi and Odissi originated from our country...</p> -->


            </div>
        
    </div>
</section>

</div>