<br />

<h1>CATEGORIES</h1>
<br />
<div id="div_bro"><img id="border" src="../images/border.png" /></div>

<div id="categories">
  <div class="cate" onclick="location.href='/Festivals'">
    <i></i>
    <img class="icon" src="../images/icon3.png" />
    <br />
    <BR />
    <p>Festivals</p>
  </div>
  <div class="cate" onclick="location.href='/Food'">
    <i></i>
    <img class="icon" src="../images/icon2.jpg" />
    <BR />
    <br />
    <p>Food</p>
  </div>
  <div class="cate" onclick="location.href='/Music-Dance'">
    <i></i>
    <img class="icon_music" src="../images/icon1.png" />

    <br />
    <p>Music and Dance</p>
  </div>
</div>
