<br />
<div class="cat_back">
  <h1 class="special_writting"> &nbsp;&nbsp;&nbsp;&nbsp;CATEGORIES</h1>
<br />
<div id="div_bro" data-aos="zoom-out"><img id="border" src="../images/border.png" /></div>

<div id="categories" data-aos="zoom-out">
  <div class="cate" onclick="location.href='/Festivals'">
    <i></i>
    <img class="icon" src="../images/icon3.png" />
    <br />
    <BR />
    <p>Festivals</p>
  </div>
  <div class="cate" onclick="location.href='/Food'">
    <i></i>
    <img class="icon" src="../images/icon2.jpg" />
    <BR />
    <br />
    <p>Food</p>
  </div>
  <div class="cate" onclick="location.href='/Music-Dance'">
    <i></i>
    <img class="icon_music" src="../images/icon1.png" />

    <br />
    <p>Music and Dance</p>
  </div>
</div>
</div>
