<footer>
    <div class="other_container">
                    
                    </div>
                    <div class="center">
                        Copyright &copy; www.Diverse-Harmony.com. All rights reserved!
                    </div>
                 
            </div>
        </div>
    </div>
</footer>