<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Diverse-Harmony</title>
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="shortcut icon" href="/images/img.png" type="image/x-icon" />
  </head>
  <body>
    <!-- navbar -->
    <div class="navdesign container-fluid">
      <div class="navlogoToggler">
        <div class="logo">
          <img src="../images/img.png" alt="" width="100%" height="100%" />
          <p class="logotext">Diverse-Harmony</p>
        </div>
        <div class="toggler" id="togglerchange">
          <i class="fa fa-regular fa-align-justify" onclick="togglerFunc()"></i>
        </div>
      </div>
      <ul class="navlinks" id="navLinks">
        <li class="navli">
          <a class="" id="home" aria-current="page" href="./">Home</a>
        </li>

        <li class="navli">
          <!-- <a href="#projects">Projects</a> -->
          <div class="dropdown">
            <button
              class="btn btn-secondary dropdown-toggle"
              type="button"
              id="dropdownMenuButton1"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Categories
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="/Food">Food</a></li>
              <li><a class="dropdown-item" href="/Festivals">Festivals</a></li>
              <li>
                <a href="/Music-Dance" class="dropdown-item">Music & Dance</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>

    <div
      id="carouselExampleInterval"
      class="carousel slide"
      data-bs-ride="carousel"
      style="margin-top: 60px"
    >
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="5000">
          <img
            class="mvimg"
            src="../images/image0.jpg"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item" data-bs-interval="5000">
          <img
            class="mvimg"
            src="../images/image1.jpg"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item" data-bs-interval="5000">
          <img
            class="mvimg"
            src="../images/dances.png"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item" data-bs-interval="5000">
          <img
            class="mvimg"
            src="../images/image3.jpg"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item" data-bs-interval="5000">
          <img
            class="mvimg"
            src="../images/image4.jpg"
            class="d-block w-100"
            alt="..."
          />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleInterval"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleInterval"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <br />

    <div id="center"><%- include('categories.ejs') %></div>
    <%- include('about.ejs') %> <%- include('footer.ejs') %>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js"
      integrity="sha512-6PM0qYu5KExuNcKt5bURAoT6KCThUmHRewN3zUFNaoI6Di7XJPTMoT6K0nsagZKk2OB4L7E3q1uQKHNHd4stIQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({
        offset: 200,
        duration: 2000,
      });
    </script>
  </body>
</html>
