<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Music-Dance</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../css/festivals.css" />
    <link rel="shortcut icon" href="/images/img.png" type="image/x-icon" />
    <link rel="stylesheet" href="/css/footer.css">
  </head>
  <body>
    <div <!-- navbar -->
      <div class="navdesign container-fluid">
        <div class="navlogoToggler">
          <div class="logo">
            <img src="../images/img.png" alt="" width="100%" height="100%" />
            <p class="logotext">Diverse-Harmony</p>
          </div>
          <div class="toggler" id="togglerchange">
            <i
              class="fa fa-regular fa-align-justify"
              onclick="togglerFunc()"
            ></i>
          </div>
        </div>
        <ul class="navlinks" id="navLinks">
          <li class="navli">
            <a class="" aria-current="page" href="./">Home</a>
          </li>

          <li class="navli">
            <!-- <a href="#projects">Projects</a> -->
            <div class="dropdown">
              <button
                class="btn btn-secondary dropdown-toggle"
                type="button"
                id="dropdownMenuButton1"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Categories
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="/Food">Food</a></li>
                <li>
                  <a class="dropdown-item" href="/Festivals">Festivals</a>
                </li>
                <li>
                  <a href="/Music-Dance" class="dropdown-item">Music & Dance</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <br /><br /><br /><div id="main">
        <br><br>
      <h1 style="font-size: 76px"> Dance</h1>
      <br />
      <br />
      
      
      <div id="div_bro"><img id="border" src="../images/border.png" /></div>
      <div id="text">
        <h4>Classical dance forms of India find their roots in the diktats for musical theater laid out by Bharat Muni in his book named - Natya Shastra. Natya Shastra is the first book that detailed the rules of performing arts like music, dance, and acting.</h4>
      </div>
       <div
        class="project_container projects"
        style="
          background-image: linear-gradient(
              rgba(225, 225, 225, 0.5),
              rgba(225, 225, 225, 0.5)
            ),
            url(../images/background.jpg);
          margin-left: 195px;
        "
      >
      <div><div class="proj_box" style="display:flex; justify-content: center; position: relative; "> <img src="../images/bhrat.jpg" style="height: 274px; width: 110%; inset: 4px; z-index:1 ; position: relative;text-align: button; border-radius: 25px; left: -2px ;"> <h2></h2></div><h1>BHARATNATYAM</h1></div>
      <div> <div class="proj_box" style="display:flex; justify-content: center; position: relative; "> <img src="../images/bhanda.jpg" style="height: 275px; width: 268px; inset: 4px; z-index:1 ; position: relative;text-align: button; border-radius: 25px; left: -2px ;"> <h2></h2></div><h1>BHANGRA</h1></div>
      <div><div class="proj_box" style="display:flex; justify-content: center; position: relative; "> <img src="../images/manipuri-dance-folk.jpg" style="height: 275px; width: 268px; inset: 4px; z-index:1 ; position: relative;text-align: button; border-radius: 25px; left: -2px ;"> <h2></h2></div><h1>FOLK DANCE</h1></div>

      </div>
      <br>
      <br>
<br>
      <h1 style="font-size: 76px">Music</h1>
      <br />
      <div id="div_bro"><img id="border" src="../images/border.png" /></div>
      
      <div
        class="project_container projects"
        style="
          background-image: linear-gradient(
              rgba(225, 225, 225, 0.5),
              rgba(225, 225, 225, 0.5)
            ),
            url(../images/background.jpg);
          margin-left: 195px;
        "
      >
      
    
      
      <div id="text">
        <h4>Indian classical music is a rich tradition that originated in South Asia and can now be found in all corners of the world. It’s origins date back to sacred Vedic scriptures over 6,000 years ago where chants developed a system of musical notes and rhythmic cycles.</h4>
        <br><br>
      </div>
      <div><div class="proj_box" style="display:flex; justify-content: center; position: relative; "> <img src="../images/tabla.jpg" style="height: 275px; width: 268px; inset: 4px; z-index:1 ; position: relative;text-align: button; border-radius: 25px; left: -2px ;"> <h2></h2></div><h1>TABLA</h1></div>
      <div><div class="proj_box" style="display:flex; justify-content: center; position: relative; "> <img src="../images/murli.jpg" style="height: 275px; width: 268px; inset: 4px; z-index:1 ; position: relative;text-align: button; border-radius: 25px; left: -2px ;"> <h2></h2></div><h1>MURLI</h1></div>
      <div><div class="proj_box" style="display:flex; justify-content: center; position: relative; "> <img src="../images/sarangi.jpg" style="height: 275px; width: 268px; inset: 4px; z-index:1 ; position: relative;text-align: button; border-radius: 25px; left: -2px ;"> <h2></h2></div><h1>SARANGI</h1></div>

    </div>
    <%- include('footer.ejs') %>
  </body>
</html>

    </div>
  </body>
</html>
