@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Lobster&family=Playfair+Display:ital@1&display=swap");
body {
  margin: 0;
  padding: 0;
}
#categories {
  display: flex;
  justify-content: center;
  margin-left: 50px;
  /* height: 4n00px; */
}
.cate {
  position: relative;
  border-radius: 5px;
  transition-duration: 0.4s;
  margin-right: 30px;

  padding: 5px;
  height: 140px;
  width: 120px;
}
.cate:hover {
  background-color: whitesmoke;
  border: groove rgba(203, 43, 68);
  color: white;
  color: black;
  width: 120px;
}

h1 {
  text-align: center;
  font-family: "Kdam Thmor Pro", sans-serif;
}
#border {
  margin-top: -20px;
  height: 90px;
  width: 600px;
  display: flex;
}

#div_bro {
  margin-top: -30px;
  display: flex;
  justify-content: center;
}
.icon {
  height: 65px;
  width: 90px;
}
.icon_music {
  height: 85px;
  width: 90px;
}

.navdesign {
  width: 100%;
  /* background: linear-gradient(225deg, #565557, #454147, #423f44, #66636b); */

  background: rgba(203, 43, 68) !important;
  padding-top: 2px;
  color: white;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-box-shadow: 8px 8px 14px #b00000;

  box-shadow: 8px 8px 14px #b00000;
}

.navlogoToggler {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggler {
  font-size: 30px;
  display: none;
}

.logo {
  display: flex;
  height: 70px;
  justify-content: center;
  /* margin: auto 5px; */
  align-items: center;
  /* width: 100px; */
}

.logo img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.logotext {
  font-size: 28px;
  font-weight: 600;
  /* margin-top: 0px; */
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  font-family: "Courier New", Courier, monospace;
}

.navlinks {
  display: flex;
  list-style: none;
  width: fit-content;
  justify-content: center;
  margin: auto 4px;
  color: black;
  padding: 0;
}

.navli {
  margin: auto 20px;
  padding: 2px 5px;
  font-weight: 600;
  cursor: pointer;
  font-family: "Baloo Bhai", cursive;
}

.navli a {
  text-decoration: none;
  padding: 10px 10px;
  color: white;
  transition: 2ms ease-in-out;
}

.mvimg {
  width: 100%;
  height: 660px;
}

.btn {
  background-color: rgba(203, 43, 68) !important;
  border-style: none !important;
}
.dropdown-item {
  color: black !important;
}
.btn:focus {
  border-style: none !important;
}
.btn.show:focus {
  box-shadow: none !important;
}
.btn-check:focus + .btn,
.btn:focus {
  box-shadow: none !important;
}
p {
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  font-size: large;
}

#intro {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

/* about section */

#about_section {
  position: relative;

  margin-top: 100px;
  /* border: 2px solid red; */
  background-image: linear-gradient(
      rgba(225, 225, 225, 0.5),
      rgba(225, 225, 225, 0.5)
    ),
    url("../images/background.jpg");

  height: 700px;
}
/* .curve{
background-color:#00e0c6 ;
width: 110%;
height: 60px;
margin: -10px;
margin-bottom: 5px;
border-radius: 0 0 10% 10% ;
 ;
} */
.container {
  position: relative;
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-left: 150px;
}

.projects {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 75vw;
}

.container .box:hover {
  transform: scale(1.25);
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.5);
}

.container .box .text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  padding: 20px;
  align-items: flex-end;
}
.container .box .text h2 {
  color: #fff;
  transition: 0.5s;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-size: 20px;
  transform: translateY(200px);
}
.container .box:hover .text h2 {
  transform: translateY(0);
  transition-delay: 0.6s;
}
.container .box .text p {
  color: #fff;
  transform: translateY(200px);
  transition: 0.5s;
  font-size: 14px;
}
.container .box:hover .text p {
  transform: translateY(0);
  transition-delay: 0.7s;
}
.pr_img {
  border-radius: 15px;
}

.container .box {
  position: relative;
  width: 350px;
  height: 475px;
  overflow: hidden;
  transition: 0.5s;
  border-radius: 15px;
  background: transparent;
  background-color: rgba(203, 43, 68);
  /* border-radius: 25px; */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  padding: 10px;
}

.about_pic {
  padding-bottom: 20px;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

#home {
  color: white !important;
}
#text {
  text-align: center;
}

.cat_back{
  -webkit-box-shadow: 8px 8px 14px rgb(212, 19, 48);

  box-shadow: 8px 8px 14px  rgb(212, 19, 48);
  border-top:    5px solid  rgb(212, 19, 48);
border-right:  0px;
/* border-bottom: 2px solid rgb(212, 19, 48); */
border-left:   0px;
margin-top: -28px;
padding-bottom: 10px;
} 
.special_writting{

  font-size: 60px;
  font-weight: 600;
  color:rgba(203, 43, 68) ;
}
